body {
  background-color: #325E39;
  font-family: "Lora", serif; 
  margin: 0;
  padding: 0;
}

div {
  border-style: solid;
  border-width: 10px;
  margain: 10px;
}

nav {

}

nav ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li a {
    display: block;
    color: white;
    padding: 14px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}

img {
  width: 100%;
  height: 50%;
