body {
  background-color: #473157;
  font-family: "Lora", serif; 
  margin: 0;
  padding: 0;
  color: #ffffff;
}

div {
  border-style: solid;
  border-width: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px black;
}

div.form {
 border-style: none;
 margin: 10px 20px;
 border-radius: none;
 box-shadow: none;
}

header {
  text-align: center;
}

nav ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li a {
  display: block;
  color: white;
  padding: 14px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #424242;
}

p {
  padding: 25px;
  font-size: 22px;
}

a {
  display: block;
  color: white;
  padding: 14px;
  text-decoration: underline;
}

footer {
  text-align: center;
}

h3 {
  text-decoration: none;
  padding: 25px;
  font-weight: bold;
  font-size: 22px;
}

.banner {
  background-image: url('/images/banner3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

iframe {
  display: block;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
 border: 2px solid #ffffff;
 font-size: 20px;
}

th, td {
 padding: 12px 15px;
 border: 2px solid #ffffff;
 text-align: left;
}

th {
 background-image: linear-gradient(to bottom, #08082B, #262652);
 font-weight: bold;
 font-size: 30px;
 text-align: center;
}

tr:nth-child(even) {
 background-image: linear-gradient(to bottom, #08082B, #262652);
 font-size: 20px;
}

ol {
font-size: 22px;
}
  
/* Media Queries */

/* Media Query for Tablet Viewport */
@media screen and (min-width: 768px), print {
  body {
    background-color: #573731;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 992px) {
  body {
    background-color: #313157;
  }
}
