body {
  background-color: #325E39;
  font-family: "Lora", serif; 
  margin: 0;
  padding: 0;
  color: #ffffff;
}

div {
  border-style: solid;
  border-width: 10px;
  margain: 10px;
}

header {
  text-align: center;
}

nav ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li a {
  display: block;
  color: white;
  padding: 14px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #424242;
}

img {

}

p {
  padding: 25px; 
}

p a {
  color: #C7EFFF
  text-decoration: none;

footer {
  text-align: center;
}
